ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  margin-left: 130px;
  margin-top: 70px;
  padding: 10px;
}

.textbox {
  outline: 0;
  height: 42px;
  width: 430px;
  line-height: 42px;
  padding: 0 16px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #212121;
  border: 3px solidblackblue;
  float: left;
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

.textbox:focus {
  outline: 0;
  background-color: #fff;
  border: 3px solid brown;
}

.search{
  outline: 0;
  background: none;
  background-color: rgba(38, 50, 56, 0.8);
  float: left;
  height: 42px;
  width: 42px;
  text-align: center;
  line-height: 42px;
  border: 0;
  color: #FFF;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 16px;
  text-rendering: auto;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
svg{
  margin: 6px;
}
.centre-table {
    margin-left: 145px;
}

.stock-table-container {
    margin: 50px;
    width: 890px;
}

.custom-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 15px;
}

.header-cell {
  background-color: #2c3e50;
  color: #fff;
  padding: 15px;
  text-align: center;
  font-size: large;
    /* border-bottom: 2px solid #030507; */
}

.data-row {
    background-color: #c5c3c1;
    /* border-bottom: 5px solid #bdc3c7; */
    transition: transform 0.6s ease-in-out;
    font-size: large;
    font-family:'Open Sans', sans-serif;
  
}

.data-row:hover {
    background-color: #000000;
    color: white;
    transform: scale(1.05);

}

td {
    padding: 1px;
    text-align: center;
    border-radius: 2.5%;
}

.net-data-row {
  background-color: #4ed576;
  /* border-bottom: 5px solid #bdc3c7; */
  font-size: large;
  height: 10vh;
  font-family: 'Open Sans', sans-serif ;
  color: rgb(0, 0, 0);

}
/* .main{
  display: flex;
  justify-content: center;
} */

.white{
  background-color: white;
}

.profit{
  border-radius: 3%;
}

button {
    margin: 20px;
  }
.custom-btn {
    width: 130px;
    height: 40px;
    color: #1f1c1c;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}
  
 /* 8 */
.btn-8 {
  background-color: #f0ecfc;
background-image: linear-gradient(315deg, #f0ecfc 0%, #c797eb 74%);
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn-8 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-8:before,
.btn-8:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #ad7dd1;
 
  transition: all 0.3s ease;
}
.btn-8:before{
   height: 0%;
   width: 2px;
   
}
img{
  height: 30px;
  width: 20px;
}
.btn-8:after {
  width: 0%;
  height: 2px;
}
.btn-8:hover:before {
  height: 100%;
}
.btn-8:hover:after {
  width: 100%;
}
.btn-8:hover{
  background: transparent;
}
.btn-8 span:hover{
  color: #c797eb;
}
.btn-8 span:before,
.btn-8 span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #c797eb;

  transition: all 0.3s ease;
}
.btn-8 span:before {
  width: 2px;
  height: 0%;
}
.btn-8 span:after {
  height: 2px;
  width: 0%;
}
.btn-8 span:hover:before {
  height: 100%;
}
.btn-8 span:hover:after {
  width: 100%;
}

/* .green-arrow{
  background-image: url("../assets/img/green-arrow-up.png") ;
}

.red-arrow{
  background-image: url("../assets/img/.red-arrow-down.png");
} */